<div class="b-example-divider"></div>

<header class="p-3 bg-white text-black">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
      
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-3 text-primary">Home</a></li>
        <li><a routerLink="/shopping-cart" class="nav-link px-3 text-black">Shopping Cart</a></li>
        <ng-template #anonymous>
          <li><a routerLink="/login" class="nav-link px-3 text-black">Login</a></li>
        </ng-template>
      
      <div *ngIf="auth.Username$ | async as Username ; else anonymous"  ngbDropdown class="dropdown">
        <a ngbDropdownToggle class="nav-link px-2 text-black" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          {{Username.displayName}}
        </a>
      
        <ul ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" routerLink="/my/orders">My Orders</a></li>
          <li><a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a></li>
          <li><a class="dropdown-item" routerLink="/admin/products">Manage Products</a></li>
          <li><a class="dropdown-item" (click) = 'logout()'>Logout</a></li>
        </ul>
      </div>
    </ul>

      </div>
  </div>
</header>
<body>
  <p *ngIf="auth.Username$ | async as Username">Welcome {{Username.displayName}} to Sharath Shopping Cart</p>
</body>